h1 {
  text-align: center;
  font-size: 60px;
  font-family: fantasy;
  color: darkslategray;
}

body {
  background-color: goldenrod;
}

.akan p {
  text-align: justify;
  font-size: 20px;
  font-style: italic;
}

.akan form {
  text-align: center;
  width: 900px;
  vertical-align: middle;
}

.akan h2 {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
}

.akan a {
  color: darkslategray;
}

.akan img {
  border-color: 6px solid saddlebrown;
}

.response {
  font-size: 25px;
  background-color: white;
  font-family: cursive;
  color: goldenrod;
  text-align: center;
}
